<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE hibernate-configuration PUBLIC
    "-//Hibernate/Hibernate Configuration DTD//EN"
    "http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">

<hibernate-configuration>
    <session-factory>
        <property name = "connection.driver_class">oracle.jdbc.OracleDriver</property>
        <property name = "dialect">org.hibernate.dialect.Oracle12cDialect</property>
        <property name = "connection.url">jdbc:oracle:thin:@//ora4.ii.pw.edu.pl:1521/pdb1.ii.pw.edu.pl</property>
        <property name = "connection.username">z12</property>
        <property name = "connection.password">u62zpu</property>
        <property name = "hbm2ddl.auto">validate</property>

        <mapping resource="rozkladonator4000.hbm.xml"/>
    </session-factory>
</hibernate-configuration>
